<p-menubar styleClass="header">
  <ng-template pTemplate="start">
    <span>ProductHUB</span>
  </ng-template>
  <ng-template pTemplate="end">
    <p-button
      routerLink="/"
      [link]="true"
      size="small"
      label="Productos"
    ></p-button>
    <p-button
      routerLink="/categories"
      [link]="true"
      size="small"
      label="Categorias"
    ></p-button>
    <p-button
      routerLink="/users"
      [link]="true"
      size="small"
      label="Usuarios"
    ></p-button>
    <p-button [link]="true" size="small" label="Salir" (onClick)="logout()"></p-button>
  </ng-template>
</p-menubar>
